.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.character {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    align-self: center;
    position: relative;
    overflow: hidden;
}

.character img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.3s;
}

.character-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #00ffff;
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.character:hover {
    transform: scale(1.1);
}

.character:hover img {
    opacity: 0;
}

.character:hover .character-title {
    opacity: 1;
}

.character a {
    position: relative;
    z-index: 10;
}

.character:hover a {
    z-index: 20;
}

.character-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.character-button:hover {
    background: red;
}


.character .special-quote-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInOut 5s forwards;
    pointer-events: none;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.character .character-info {
    opacity: 1;
    transition: opacity 0.3s;
}
